{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  <article class="flex-l flex-wrap justify-between mw8 center ph3">

    <div class="nested-copy-line-height mt4 lh-copy {{ $.Param "post_content_classes"  | default "serif"}} f4 nested-links nested-img dark-gray w-two-thirds-m ph6-l center">
      <span class="f4 mv4 dib tracked"> {{ .ReadingTime}} minutes read</span>
      <span class="f4 mv4 dib tracked">- {{ .WordCount}} words</span>
      {{- .Content -}}
      {{- partial "tags.html" . -}}
      <div class="mt6 instapaper_ignoref">
      {{ if .Site.DisqusShortname }}
        {{ template "_internal/disqus.html" . }}
      {{ end }}
      {{ if .Site.Params.commentoEnable }}
        {{- partial "commento.html" . -}}
      {{ end }}
      </div>
    </div>


  </article>
{{ end }}
