{{ $featured_image := .Params.featured_image }}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image := (trim $featured_image "/") | absURL }}
  <header class="vh-100 dt w-100 tc bg-dark-gray white cover" style="background: url('{{ $featured_image }}') no-repeat center;">
    <div class="vh-100 {{ .Site.Params.cover_dimming_class | default "bg-black-70" }}">
        {{ partial "site-navigation.html" .}}
      <div class="mw9 center pa4 pt6 pt5-ns ph7-l">
      <time class="f3 mb4 dib ttu tracked"><small>{{- .Date.Format "January 2, 2006" -}}</small></time>
      <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
        <span class="white pa1 tracked-tight">
          {{ .Title }}
        </span>
      </h3>
      <h4 class="f3 fw1 cabin i">{{ .Description }}</h4>
    </div>
    </div>
  </header>
{{ end }}
