<nav class="db dt-l w-100 border-box">
  <a class="db dtc-l v-mid mid-gray link w-50 w-20-l tc tl-l mb2 mb0-l ph2-l center" href="#" title="Home">
    <img src="{{ .Param "logo" }}" class="w-80 dib ml4-l" alt="Site Name">
  </a>
    <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
      {{ partial "i18nlist.html" . }}
      {{ if .Site.Menus.main }}
          {{ range .Site.Menus.main }}
            <a class="dib cabin hover-white no-underline white-80 sauce mr3 mr4-l link f5 f4-ns" href="{{ .URL }}" title="{{ .Name }} page">
              {{ .Name }}
            </a>
          {{ end }}
      {{ end }}
      <!-- {{ partialCached "social-follow.html" . }} -->
    </div>
</nav>
