{{ define "main" }}
<article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
    {{ .Content }}
  </article>
  <section class="cf tc-l center lh-copy mw5 mw8-ns f4 lh-copy mid-gray">
    {{ range (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
    <article class="fl w-100 w-50-m w-50-ns pa2-ns">
      <div class="aspect-ratio aspect-ratio--8x5">
        <img style="background-image:url({{ .Param "featured_image" }});"
          class="db bg-center cover aspect-ratio--object" />
      </div>
      <a href="#0" class="ph2 ph0-ns pb3 link db">
        <h3 class="f5 f4-ns mb0 black-90 sauce-title">{{ .Title }}</h3>
        <h3 class="f6 f5 fw4 mt2 black-60">{{ .Description }}</h3>
      </a>
    </article>
    {{ end }}
    </section>
{{ end }}
